*{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  width: 100%;
  margin-top: -57px;
  transform: skew(0,-6deg);
  height: 585px;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(214, 224, 238));
}
.nav{
  margin-top: -528px;
  position: absolute;
  background: transparent;
  display: flex;
  flex-direction: row;
}
.nav-logo img{
  margin-top: 23px;
  width: 88px;
  margin-left: 198.5px;
}
.nav-menu{
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  margin-left: 287px;
  gap: 36px;
}
.nav-items{
  font-size: 11.5px;
  font-weight: 500;
}
.dn{
  padding-top: 1px;
  margin-left: -1px;
  width: 8.5px;
}
.nav-btn{
  margin-left: 36px;
  margin-top: 16px;
  padding-top: 7.5px;
  border-radius: 20px;
  border: 1.5px solid #9460e1;
  width: 120px;
  height: 32.5px;
  text-align: center;
  color: #9460e1;
  font-size: 12px;
  font-weight: 600;
}
/* data section */
.data{
  margin-top: -400px;
  position: absolute;
  display: flex;
  flex-direction: row;
}
.data-left{
  width: 50%;
  margin-left: 200px;
  margin-top: 45px;
}
.data-v {
  background: rgb(247, 232, 252);
  width:215px;
  height: 32px;
  display:flex;
  flex-direction:row;
  justify-content: center;
  /* align-items: center; */
  border-radius: 20px;
}
.data-v img{
  width: 13.5px;
  margin-top: -1px;
}
.v3-txt{
  margin-left: 10px;
  color: #8556ca;
  font-size: 13.5px;
  font-weight: 600;
  padding-top: 8px;
}
.data-head{
  font-size: 40px;
  letter-spacing: 0.5px;
  font-weight: 700;
  width: 400px;
  line-height: 41px;
  margin-top: 19px;
}
.data-head span{
  letter-spacing: 0px;
}
.data-des{
  letter-spacing: 0.1px;
  margin-top: 21px;
  color: grey;
  font-size: 13.5px;
  font-weight: 500;
  line-height: 20px;
  width: 410px;
}
.data-btn{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.free-trial-btn{
  background-color: #722ED1;
  padding-top: 8.5px;
  border-radius: 20px;
  width: 120px;
  height: 32.5px;
  text-align: center;
  color: rgb(191, 190, 190);
  font-size: 11.5px;
  font-weight: 600;
}
.learn-more-btn{
  color: #722ED1;
  font-size: 12px;
  font-weight: 600;
  padding-top: 8.5px;
  border-radius: 20px;
  width: 105px;
  height: 32.5px;
  text-align: center;
  background-color: #fff;
  margin-left: 13px;
}

.data-right{
  width: 50%;
}
.data-right img{
  margin-top: 14px;
  margin-left: 1px;
  width: 400px;
}
